@font-face {
  font-family: 'MiFuente';
  src: url('../../get_schwifty.ttf') format('truetype');
}

form {
  width: 300px;
  padding: 16px;
  border-radius: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.button-container {
  margin-top: 16px;
  text-align: center;
}
form label {
  font-family: 'MiFuente';
  width: 72px;
  font-weight: bold;
  display: inline-block;
  color: lightskyblue;
  text-shadow:#f9fe90 ;
  background: #000;
}

form input[type="text"],
form input[type="email"] {
  width: 180px;
  padding: 3px 10px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  display: inline-block;
}
form input[type="password"] {
  width: 180px;
  padding: 3px 10px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  display: inline-block;
}

.boton{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #000;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


/* 
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Sansita Swashed", cursive;
    color:white;
    background: black;
  } */
  .center {
    background-image: url("../../Assets/Logo.jpg");
    background-size: 30%;
    background-repeat: no-repeat;
    color: white;
  }
  /*
  .center h1 {
    font-size: 2em;
    color: white;
    letter-spacing: 0em;
    margin-bottom: 1em;
    font-weight: bold;
  }
  .center .inputbox {
    position: relative;
    width: 10em;
    height: 5em;
    margin-bottom: 1em;
    color: white;    
  }

  

  .center .inputbox input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid white;
    outline: none;
    background: none;
    padding: 0.3em;
    border-radius: 10px;
    font-size: 1em;
    color: white;
   
  }


  .center .inputbox:last-child {
    margin-bottom: 0;
  }
  .center .inputbox span {
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 1em;
    transition: 0.6s;
    font-family: sans-serif;
 
  }
  
  .boton{
    animation: mymove2 400s linear infinite;
  }
    @keyframes btn-anim2 {
        0% {
          top: -100%;
        }
        50%,100% {
          top: 100%;
        }
      }
     */