.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 2em;
    height: 20em;
    width: 10em;
    margin: 1em;
    float: left;
    position: relative; 
    border: solid  rgb(43, 255, 0) 0.1em;
    border-radius: 1em;
    }

.nombre{
    padding-top: 0em;
    margin-top: 0em;
    color: lightskyblue;
    font-size: 1em; 
    
    }

.imagen{
    border: 0.1em solid black;
    height: 10em;
    width: 10em;
    border-radius: 70%;
    box-shadow: 9px 9px 42px 0px rgba(174,235,179,0.75);
-webkit-box-shadow: 9px 9px 42px 0px rgba(174,235,179,0.75);
-moz-box-shadow: 9px 9px 42px 0px rgba(174,235,179,0.75);

}






.nombreEncima{
    font-size: 2em;
    background-color: black;
    color: lightskyblue;
}

.Link{
    text-decoration: none;
}

