@font-face {
    font-family: 'MiFuente';
    src: url('../../get_schwifty.ttf') format('truetype');
  }
.container{
    padding: 1em;
}


.btn{
  font-family: 'MiFuente';
  font-size: 1.3em;
  color: lightskyblue;
  text-shadow:#f9fe90 ;
  background: #000;
  border-radius: 10px;
}

.input{
border-radius: 5px;
padding: 0.5em 0.5em;
}